<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AAStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <AAStudio.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ToolbarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusbarVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ExplorerVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InformationVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridSize" serializeAs="String">
                <value>8</value>
            </setting>
        </AAStudio.Properties.Settings>
    </userSettings>
</configuration>
